@model IEnumerable<Entities.Customer>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>

                <td>
                    <a asp-action="Edit_customer" asp-route-id="@item.CustomerID">Edit</a> |
                    <a asp-action="customer_Details" asp-route-id="@item.CustomerID">Details</a> |
                    <a asp-action="Delete_customer" asp-route-id="@item.CustomerID">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
